.vscode
src/ac_searcher/__pycache__
.__pycache__
src/ac_searcher/__pycache__
.idea 
.DS_Store
venv
.idea
*__pycache__
*node_modules
*assests
media
src/ac_searcher/drivers
src/ac_searcher/.env
*drivers