.app-header {
    height: 60px;
    line-height: 60px;
    #border-bottom: thin lightgrey solid;
}

.app-header .style-for-table {
    font-size:18px;
    padding-left: 5px;
    padding-top: 40px;
    table-layout:fixed;
    width:45px;
    #display: inline-flex;
    justify-content:space-between;
    min-width: 1200px;
}
.style-for-table .header-table{
    textAlign: left;
    fontWeight: bold;
    font-family:Calibri;
    background: #f1f0fe;
    padding-top: 40px;
    overflow:hidden;
    table-layout: fixed;
}


.headerr {
    color: white;
    border: 4px double black;
    border-color: white;
    border-radius: 5px;
    border-bottom: #e0dfed;
    border-right: #e0dfed;
    border-left: #e0dfed;
    border-top: #e0dfed;
    padding: 10px;
    padding-right: 885px;
    padding-top: 85px;
    padding-bottom: 60px;
    #display: inline-block;
    #vertical-align: top;
    background: white;
    margin: 0 auto;
    min-width: 1200px
}
.styleone{
    width: 450px;
    height: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
    background: #f1f0fe;
    border: 1px solid #e0dfed;
    border-radius: 5px;
    font-size: 18px;
}

.styletwo{
    margin-left: 30px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #e0dfed;
    background: #f1f0fe;
    font-size: 18px;
}





